
body.home{
    background-image: url("../img/fondo.jpg");
    
    font-family: Arial, Helvetica, sans-serif;
    
}

.principal{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12mm;
    font-weight: bold;
    text-align: center;
    color: rgb(54, 53, 52);
    line-height: 1mm;
}
h3{
    font-style: italic; 
}

h2{
    font-style: italic;
    background-color: rgb(201, 201, 199);   
}

h1.limon{
    background-color:rgb(242, 219, 15);
    font-size: 10mm;
}
h1.carrot{
    background-color: rgb(232, 95, 9);
    font-size: 10mm;
}


.menu{
    width: 80%;
    border-radius:20px;    
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}


div.opciones{
    text-align: center;
    width: 48%;
    height: auto;
    padding: 1%;
    float: left;
    font-style: italic;
    font-size: 8mm;
    line-height: 1mm;
}

.imagen{
    display: block;
    width: 70%;
    border-radius:20px;    
    margin-left: auto;
    margin-right: auto;
}

.espacio{
    width: 100%;
    height: 300px;
}

.redes div{
    width: 8%;
    float: left;
    margin-left: 13%;
    margin-right: auto;
}
